output/
.DS_Store
.env*
!.env.example
.venv/
venv/
.pytest_cache/
.ruff_cache/
**/__pycache__/
*.py[cod]
build/
dist/
*.pem
*.key
id_rsa*
config/cv_en.yaml
config/cv_es.yaml
config/longProfile.txt
scripts/__pycache__/*
config/job_offer.txt
config/prueba.txt
